.dashboard {
    display: flex;
    background: #f8fafc;
    min-height: 100vh;
}


/* Main Content */

.dashboard-content {
    margin-left: 270px;
    width: calc(100% - 270px);
    min-height: 100vh;
    padding: 30px;
    box-sizing: border-box;
    overflow-x: hidden;
}


/* Grid */

.dashboard-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 25px;
    margin-top: 30px;
}

.left-section {
    min-width: 0;
}

.right-section {
    display: flex;
    flex-direction: column;
    gap: 25px;
}


/* Tablet */

@media(max-width:992px) {
    .dashboard-content {
        margin-left: 85px;
        width: calc(100% - 85px);
    }
    .dashboard-grid {
        grid-template-columns: 1fr;
    }
}


/* Mobile */

@media(max-width:600px) {
    .dashboard {
        flex-direction: column;
    }
    .dashboard-content {
        margin-left: 0;
        width: 100%;
        padding: 15px;
    }
}