button.cancel-btn {
    background-color: blue !important;
    color: white !important;
    border: none !important;
    padding: 10px 25px !important;
    border-radius: 8px !important;
    cursor: pointer;
}

button.cancel-btn:hover {
    background-color: red !important;
}