.myappointments-container {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
}

.page-title {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 30px;
}

.no-data {
    text-align: center;
    margin-top: 80px;
    color: #777;
}

.appointment-card {
    text-decoration: none;
    background: #fff;
    border-radius: 14px;
    padding: 28px;
    margin-bottom: 25px;
    box-shadow: 0 5px 18px rgba(0, 0, 0, .08);
    border: 1px solid #ececec;
}

.doctor-name {
    color: #0f172a;
    margin-bottom: 20px;
}

.appointment-card p {
    margin: 12px 0;
    font-size: 16px;
    color: #444;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    border-top: 1px solid #eee;
    padding-top: 18px;
}

.time {
    margin: 0;
}

.cancel-btn {
    display: inline-block !important;
    width: 170px !important;
    min-width: 170px;
    max-width: 170px;
    height: 40px;
    background: #ef4444;
    color: #fff;
    border: none;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    flex: none;
}

.cancel-btn:hover {
    background: #580505;
}