.quick-actions-card {
    background: #fff;
    border-radius: 22px;
    padding: 25px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, .08);
    border: 1px solid #eef2f7;
}

.quick-actions-card h3 {
    font-size: 24px;
    font-weight: 700;
    color: #1e293b;
    margin-bottom: 25px;
}

.quick-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}

.quick-box {
    height: 130px;
    border-radius: 18px;
    padding: 22px;
    cursor: pointer;
    transition: .3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quick-box:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, .12);
}

.quick-icon {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 18px;
}


/* Card Background */

.quick-box.blue {
    background: #f3f7ff;
}

.quick-box.green {
    background: #f3fff8;
}

.quick-box.purple {
    background: #faf5ff;
}

.quick-box.orange {
    background: #fff8ef;
}


/* Icon */

.quick-icon.blue {
    background: #e3eeff;
    color: #2563eb;
}

.quick-icon.green {
    background: #dffbea;
    color: #16a34a;
}

.quick-icon.purple {
    background: #f0ddff;
    color: #9333ea;
}

.quick-icon.orange {
    background: #fff0d8;
    color: #f59e0b;
}

.quick-box h4 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}

.quick-box.blue h4 {
    color: #2563eb;
}

.quick-box.green h4 {
    color: #16a34a;
}

.quick-box.purple h4 {
    color: #9333ea;
}

.quick-box.orange h4 {
    color: #f59e0b;
}

@media(max-width:768px) {
    .quick-grid {
        grid-template-columns: 1fr;
    }
    .quick-box {
        height: 110px;
    }
}