.prescription-card {
    background: white;
    padding: 25px;
    border-radius: 22px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .08);
}

.prescription-card h3 {
    font-size: 24px;
    color: #1e3a8a;
    margin-bottom: 20px;
}

.prescription-btn {
    background: #2563eb;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 20px;
}

.prescription-item {
    background: #f8fafc;
    padding: 15px;
    border-radius: 15px;
    margin-top: 15px;
}

.prescription-item p {
    margin: 8px 0;
    color: #334155;
}

.prescription-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 15px 35px rgba(37, 99, 235, .4);
}


/* Table */

.table-wrapper {
    overflow-x: auto;
}

.prescription-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
}

.prescription-table thead th {
    background: #eff6ff;
    color: #1e3a8a;
    font-size: 15px;
    font-weight: 800;
    padding: 16px;
    text-align: left;
}

.prescription-table tbody tr {
    background: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .06);
    transition: .3s;
}

.prescription-table tbody tr:hover {
    transform: scale(1.01);
    box-shadow: 0 12px 30px rgba(37, 99, 235, .18);
}

.prescription-table td {
    padding: 20px 16px;
    color: #475569;
    font-size: 15px;
    border-top: 1px solid #f1f5f9;
    border-bottom: 1px solid #f1f5f9;
}


/* First column */

.prescription-table td:first-child {
    font-weight: 800;
    color: #2563eb;
    border-radius: 15px 0 0 15px;
}


/* Last column */

.prescription-table td:last-child {
    border-radius: 0 15px 15px 0;
}

.diagnosis {
    font-weight: 700;
    color: #0f172a!important;
}


/* Status badge */

.status {
    background: #dcfce7;
    color: #15803d;
    padding: 7px 15px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 700;
}

@media(max-width:768px) {
    .prescription-header {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }
    .prescription-btn {
        width: 100%;
    }
    .prescription-card {
        padding: 20px;
    }
}