.qc-footer {
    background: #f7faff;
    padding: 60px 70px;
    margin-top: 60px;
}

.qc-footer-top {
    display: flex;
    align-items: flex-start;
    gap: 80px;
    flex-wrap: wrap;
}


/* Image */

.qc-footer-image img {
    width: 330px;
    height: 330px;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);
}


/* Links */

.qc-footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}

.qc-footer-column {
    min-width: 150px;
}

.qc-footer-column h4 {
    font-size: 20px;
    font-weight: 700;
    color: #0b2c4d;
    margin-bottom: 20px;
}

.qc-footer-column a {
    text-decoration: none;
}

.qc-footer-column p {
    color: #667085;
    font-size: 15px;
    margin-bottom: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.qc-footer-column p:hover {
    color: #0066ff;
    transform: translateX(5px);
}


/* Line */

.qc-footer hr {
    margin: 45px 0 25px;
    border: none;
    border-top: 1px solid #d8dee9;
}


/* Bottom */

.qc-footer-bottom {
    text-align: center;
}

.qc-footer-bottom h5 {
    color: #667085;
    font-size: 14px;
    font-weight: 500;
}


/* =====================
      RESPONSIVE
===================== */

@media(max-width:1200px) {
    .qc-footer {
        padding: 50px;
    }
    .qc-footer-links {
        gap: 50px;
    }
    .qc-footer-image img {
        width: 280px;
        height: 280px;
    }
}

@media(max-width:992px) {
    .qc-footer-top {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .qc-footer-links {
        justify-content: center;
    }
}

@media(max-width:768px) {
    .qc-footer {
        padding: 40px 25px;
    }
    .qc-footer-links {
        gap: 35px;
    }
    .qc-footer-image img {
        width: 240px;
        height: 240px;
    }
}

@media(max-width:576px) {
    .qc-footer-links {
        flex-direction: column;
        align-items: center;
    }
    .qc-footer-image img {
        width: 200px;
        height: 200px;
    }
}