.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 35px 40px;
    border-radius: 22px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .08);
    margin-bottom: 30px;
}


/* LEFT */

.header-left {
    display: flex;
    flex-direction: column;
}

.greeting {
    font-size: 18px;
    font-weight: 600;
    color: #64748b;
}

.header-left h1 {
    margin: 8px 0;
    font-size: 38px;
    color: #111827;
    font-weight: 700;
}

.header-left h1 span {
    color: #2563eb;
}

.header-left p {
    color: #64748b;
    margin-top: 5px;
    font-size: 16px;
}

.header-date {
    margin-top: 18px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #94a3b8;
    font-size: 15px;
}


/* RIGHT */

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}


/* Availability */

.availability-card {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 18px;
    padding: 20px;
    border: 1px solid #e5e7eb;
    box-shadow: 0 8px 25px rgba(0, 0, 0, .06);
}

.availability-card h5 {
    margin: 0;
    font-size: 15px;
    color: #64748b;
}

.status {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
}

.status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.online {
    background: #22c55e;
}

.offline {
    background: #ef4444;
}

.status-text {
    font-size: 18px;
    font-weight: 700;
    color: #111827;
}


/* Toggle */

.switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    inset: 0;
    background: #cbd5e1;
    border-radius: 50px;
    cursor: pointer;
    transition: .3s;
}

.slider:before {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    left: 3px;
    bottom: 3px;
    background: #fff;
    border-radius: 50%;
    transition: .3s;
}

input:checked+.slider {
    background: #22c55e;
}

input:checked+.slider:before {
    transform: translateX(26px);
}


/* Button */

.home-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 14px 24px;
    border: none;
    border-radius: 12px;
    background: #2563eb;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

.home-btn:hover {
    background: #1d4ed8;
    transform: translateY(-2px);
}


/* Responsive */

@media(max-width:992px) {
    .dashboard-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
    }
    .header-right {
        width: 100%;
        flex-direction: column;
    }
    .availability-card {
        width: 100%;
    }
    .home-btn {
        width: 100%;
        justify-content: center;
    }
    .header-left h1 {
        font-size: 30px;
    }
}